if status is-interactive
    if command -v atuin >/dev/null
        atuin init fish | source
    end

    if command -v starship >/dev/null
        starship init fish | source
    end

    if command -v uv >/dev/null
        uv generate-shell-completion fish | source
    end

    if command -v zoxide >/dev/null
        zoxide init fish | source
    end
end

# mise version manager
if command -v mise >/dev/null
    mise activate fish | source
end

# Homebrew
if test -d /opt/homebrew/
    /opt/homebrew/bin/brew shellenv | source
end

# PATH
fish_add_path ~/.local/bin
fish_add_path ~/.cargo/bin

{{- if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/opt/coreutils/libexec/gnubin
fish_add_path /opt/homebrew/opt/fzf/bin
fish_add_path /opt/homebrew/opt/binutils/bin
{{- end }}

# Environment
set -gx EDITOR nvim
set -gx VISUAL nvim
set -gx PROJECTS "$HOME/code"
set -U fish_greeting ""

# FZF theme
set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS \
    --highlight-line \
    --info=inline-right \
    --ansi \
    --layout=reverse \
    --border=none \
    --color=bg+:#283457 \
    --color=bg:#16161e \
    --color=border:#27a1b9 \
    --color=fg:#c0caf5 \
    --color=gutter:#16161e \
    --color=header:#ff9e64 \
    --color=hl+:#2ac3de \
    --color=hl:#2ac3de \
    --color=info:#545c7e \
    --color=marker:#ff007c \
    --color=pointer:#ff007c \
    --color=prompt:#2ac3de \
    --color=query:#c0caf5:regular \
    --color=scrollbar:#27a1b9 \
    --color=separator:#ff9e64 \
    --color=spinner:#ff007c

# Local overrides
if test -f $HOME/.config/fish/secrets.fish
    source $HOME/.config/fish/secrets.fish
end

if test -f $HOME/.config/fish/extras.fish
    source $HOME/.config/fish/extras.fish
end
