{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "bazzite") (eq .chezmoi.osRelease.id "fedora") (contains "fedora" .chezmoi.osRelease.idLike)) }}
# List of Flatpak applications to install on Bazzite
# Install with: flatpak install -y flathub $(cat ~/.local/share/chezmoi/flatpak-packages.txt | grep -v '^#' | xargs)
#
# Example applications:
# io.neovim.nvim
# com.visualstudio.code
# org.mozilla.firefox
# com.spotify.Client
# com.discordapp.Discord
# org.gimp.GIMP
# org.inkscape.Inkscape
# com.obsproject.Studio
{{- end }}
