{{- if eq .chezmoi.os "darwin" }}
# Homebrew Bundle file for macOS
# Install with: brew bundle --file=~/Caskfile

cask_args appdir: '/Applications'

# Taps
tap "homebrew/cask"
tap "homebrew/bundle"
tap "homebrew/core"

# CLI tools
brew "bat"
brew "bash"
brew "direnv"
brew "eza"
brew "fd"
brew "fzf"
brew "fish"
brew "gawk"
brew "gcc"
brew "gh"
brew "git"
brew "git-delta"
brew "jq"
brew "git-absorb"
brew "glib"
brew "mise"
brew "neovim"
brew "prettyping"
brew "rename"
brew "ripgrep"
brew "shfmt"
brew "starship"
brew "atuin"
brew "tree"
brew "watch"
brew "wdiff"
brew "wget"
brew "zellij"
brew "zoxide"
brew "zsh"
brew "uv"
brew "ffmpeg"

# GPG
brew "gnupg"
brew "pinentry"
brew "pinentry-mac"

# GUI Applications
cask "discord"
cask "firefox"
cask "jordanbaird-ice"
cask "karabiner-elements"
cask "mac-mouse-fix"
cask "raycast"
cask "rectangle"
cask "spotify"
{{- end }}
