theme "tokyonight_night"
on_force_close "quit"

keybinds {
    unbind "Alt Left"
    unbind "Alt Right"
    normal {
        unbind "Alt f"
        unbind "Ctrl g"
        // ctrl+g is show file in vim
        bind "Ctrl G" { SwitchToMode "locked"; }
        bind "Alt F" { ToggleFloatingPanes; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    }
    locked {
        unbind "Ctrl g"
        bind "Ctrl G" { SwitchToMode "normal"; }
    }
    shared {
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt m" { ToggleFloatingPanes; }
    }

    shared_among "normal" "locked" {
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
}
